@import url("./config.css");

* {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  height: var(--page-height);
  width: var(--body-width-default);

  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  background-color: var(--background-level-1);

  &:hover>div.banner:not(:hover) {
    &:nth-of-type(3n+2) {
      background-color: var(--primary-shade-3);
      color: var(--primary-shade-2);
    }

    &:nth-of-type(3n+1) {
      background-color: var(--complementary-shade-3);
      color: var(--complementary-shade-2);
    }

    &:nth-of-type(3n+3) {
      background-color: var(--gray-pure);
      color: var(--gray-shade-2);
    }
  }
}

@media screen {
  body {
    width: var(--body-width-large-screen);
  }
}

@media screen and (max-width: 768px) {
  body {
    width: var(--body-width-small-screen);
  }
}

main.fullpage {
  width: 100%;
  height: 100cqh;

  &[data-color=primary] {
    background-color: var(--primary-pure);
  }

  &[data-color=complementary] {
    background-color: var(--complementary-pure);
  }

  &[data-color=gray] {
    background-color: var(--gray-tint-3);
  }
}

div.banner {
  width: 100%;
  height: calc(100cqh / 3);

  display: flex;
  align-items: center;

  transition-duration: calc(1s / 4);

  z-index: 1;

  &:nth-of-type(2n+1) {
    justify-content: left;
  }

  &:nth-of-type(2n+2) {
    justify-content: right;
  }

  &:nth-of-type(3n+2) {
    background-color: var(--primary-pure);
    color: var(--primary-tint-5);
  }

  &:nth-of-type(3n+1) {
    background-color: var(--complementary-pure);
    color: var(--complementary-tint-5);
  }

  &:nth-of-type(3n+3) {
    background-color: var(--gray-tint-3);
    color: var(--gray-shade-3);
  }

  &.banner-title {
    font-size: calc(100cqh / 5);
    font-weight: 900;
    font-family: var(--title-font-family);

    padding: 0 0.2em;
  }

  &.banner-button {
    height: calc(100cqh / 6);

    background-color: var(--gray-tint-3);
    color: var(--gray-shade-3);

    font-family: var(--title-font-family);
    font-size: calc(100cqh / 10);
    justify-content: left;

    padding: 0 0.2em;
  }

  &.banner-invisible {
    height: 0cqh;
    font-size: 0em;
  }

  &.banner-clickable {
    cursor: pointer;

    &:hover {
      padding: 0 0.4em;

      &.banner-title {
        z-index: 1000;
        box-shadow: 0 0 1em var(--gray-shade-3);
      }
    }
  }


  &.banner-retracting {
    height: 100cqh;
  }
}

div.paragraph {
  width: 100%;
  height: calc(100cqh * 2 / 3 - (100cqh / 6));

  font-family: var(--description-font-family);
  font-size: var(--description-font-size);
  text-align: justify;

  padding: 0 1.5rem;

  display: flex;

  transition-duration: calc(1s / 4);

  &.paragraph-left {
    justify-content: left;
  }

  &.paragraph-right {
    justify-content: right;
  }

  &>ul {
    margin: 0;
    list-style: none;
  }
}

p {
  margin: 0;
}